<template>
    <div>
        <FormKitSchema :schema="schema" />
    </div>
</template>

<script lang="ts" setup>
import { FormKitSchemaCondition, FormKitSchemaNode } from '@formkit/core'

/**
 * This is the library of components that we can use in the schema.
 * We will have to register the components here, so we can use them in the schema.
 * Maybe there is a way to do this automatically, but I haven't found it yet.
 */

const schema: FormKitSchemaCondition | FormKitSchemaNode[] = [
    {
        $formkit: 'form',
        children: [
            {
                $formkit: 'text',
                name: 'text',
                value: 'value',
                // This combination of rules will have it fire twice.
                validation: `required|delayed`,
                // Change it to this to have it fire only once.
                // validation: `delayed`,
            },
        ],
    },
]
</script>
